@import 'variables';


html {
	scroll-behavior: smooth;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
}

.header_content_list a{
	text-decoration: none;
	color: #828282;
}

.header{
	padding: 41px 0;
	position: sticky;
	top: 0;
	background-color: white;
	&_content_list{
		display: flex;
		justify-content:space-between;
		align-items: center;
		font-family: $main_font;
		font-size: 18px;
		line-height: 22px;
		&_button a:hover{
			color: black;
		}
	}
}
 
.about{
	padding-top: 37px;
	height: auto;
	
}

.aboutme_up{
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding-bottom: 30px;
	&_name{
		font-size: 	30px;
		font-weight: bold;
		line-height: 40px;
		color: #070707;
		font-family: $main_font;
	}
	&_info{
		font-family: $main_font;
		font-size: 18px;
		line-height: 22px;
		color: #070707;
	}
	&_country{
		font-family: $main_font;
		font-size: 18px;
		line-height: 22px;
		color: #070707;
	}
}


.aboutme_down_img{
	display: flex;
	align-items: center;
	width: auto;
	max-width: 100%;
	margin-bottom: 5%;
	&_mobile{
		display: none;
	}
}


.info{
	height: 506px;
	background-color: #F6F6F6;
	&_section{
		padding-top: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		font-family: $main_font;
		&_h1{
			font-size: 30px;
			line-height: 42px;
			color: #070707;
			font-weight: bold
		
		}
		&_about{
			margin: 20px 0;
			font-size: 18px;
			line-height: 22px;
			color:#070707;
		}
		&_cv{
			border: 1px solid white;
			background-color: black;
			height: 50px;
			width: 100%;
			color: white;
			font-family: $main_font;
			font-weight: bold;
			font-size: 15px;
			cursor: pointer;
		}

	}
}


#info_section_about_1{
	text-indent: 3em;
}


.skills_wrap{
	height: 506px;
}

.skills_text{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 90px 0;
	&_skils{
		font-size: 34px;
		line-height: 42px;
		font-family: $main_font;
		font-weight: bold;
		padding-bottom: 70px;
	}
	&_info{
		font-size: 18px;
		line-height: 22px;
		font-family: $main_font;
	}
	
}


.skills_programs_logo{
	height: 70px;
	display: block;
	margin:0 auto;
}

.skills_programms{
	display: flex;
	justify-content: space-between;
}

.skills_programms_divs{
	/* border: 1px solid black; */
	height: 166px;
	width: 200px;
}

.skills_programs_logo_info{
	text-align: center;
	padding-top: 25px;
	font-size: 14px;
	line-height: 17px;
	font-family: $main_font;
}


.porfolio{
	background: #F6F6F6;
	&_info{
		height: 300px
	}
	&_h1{
		text-align: center;
		padding: 110px 0 40px 0;
		font-size: 34px;
		line-height: 42px;
		font-family: $main_font;
		font-weight: bold;
	}
	&_p{
		text-align: center;
		font-size: 20px;
		line-height: 42px;
		font-family: $main_font;
	}
	
}

.contacts{
	height: 500px;
	&_info{
		text-align: center;
		padding-top: 110px;
		&_contact{
			font-size: 34px;
			line-height: 42px;
			font-family: $main_font;
			font-weight: bold;
			padding-bottom: 20px;
		}
		&_suggestion{
			font-size: 18px;
			line-height: 22px;
			font-family: $main_font;
			padding-bottom: 30px;
		}
		&_button{
			width: 180px;
			color: white;
			background-color: black;
			text-align: center;
			height: 42px;
			border: 1px solid black;
			border-radius: 10px;
			cursor: pointer;
			margin-bottom: 80px;
		}
		
	}
}


.contacts_links{
	max-width: 340px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
	cursor: pointer;
	&_img{
		height: 50px;
	}
}

@media(max-width:767px){
	.header_content_list a{
		font-size: 15px;
	}
	.header{
			padding: 31px 0;
	}
	.info{
		height: 450px;
	}
	.info_section{
		padding-top: 40px;
		display: flex;
		text-align: center;
	}

	#info_section_about_1{
		text-indent: 0;
	}
	#info_section_about_1>br{
		display: none;
	}
	.info_section_about{
		font-size: 15px;
	}
	.skills_text{
		padding: 50px 0;
	}
	.skills{
		height: 450px;
	}
	/* #aboutme_up{
		font-size:15px;
	} */
}