.wrapper{
    width: 920px;
    max-width: 100%;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    width: 100%
}

.list{
    margin: 20px 0;
}

.list-header{
    display: flex;
    justify-content: space-between;
}

.list-item>a{
    text-decoration: none;
    color: black;
    font-size: 20px; 
}

.list-item>a:hover{
    color: grey;
}

.aboutus{margin-top: 60px;}

.photo_info{
    display: flex;
    justify-content: space-between;
}

.about_img{height: 200px;}

.about_company{font-size: 20px;padding-bottom: 20px;}

.products{margin-top: 60px}

.productslist{
    display: grid;
    grid-template-columns:repeat(3,1fr)
}

.product-item{
    // border: 1px solid black;
    width:300px;
    height: 400px;
    position: relative;
}

.item_name{
    color:blue;
    position: absolute;
    top: 20px;
    left:100px
}

.item_img{
    position: absolute;
    top: 70px;
    left:50px
}

.item-price{
    position: absolute;
    bottom: 30px;
    left:130px;
    font-size: 20px;
}