.wrapper{
    width: 920px;
    max-width: 100%;
    margin: 0 auto;
}

.list{
    margin: 20px 0;
}

.list-header{
    display: flex;
    justify-content: space-between;
}

.list-item>a{
    text-decoration: none;
    color: black;
    font-size: 20px; 
}

.list-item>a:hover{
    color: grey;
}

.aboutus{margin-top: 60px;}

.photo_info{
    display: flex;
    justify-content: space-between;
}

.about_img{height: 200px;}

.about_company{font-size: 20px;padding-bottom: 20px;}

.products{margin-top: 60px;}
.product-item{
    border: 1px solid black;
    width:300px;
    height: 400px;
}

.productslist{
    display: grid;
    grid-template-columns:repeat(3,1fr)
}